extends layout

block content
  h1 Welcome to Instant Aria Templates
  p Discover an efficient and easy way to prototype or debug any aria templates code.
  p The most important assets can to be tweaked: template, template script, css template and the associated data model.
  p Edit directly in the browser with automatic refresh and live preview.
  br
  a.button.button-blue(href="/anonymous/new") Create a new instant
